<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chargers</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .charger-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .charger {
            border: 1px solid #ddd;
            background-color: #fff;
            padding: 20px;
            margin: 20px 0;
            width: calc(30% - 20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

            .charger img {
                width: 100%;
                max-height: 150px;
                object-fit: cover;
                border: 1px solid #ddd;
                padding: 10px;
                background-color: #fff;
                margin-bottom: 10px;
            }

        h3 {
            font-size: 24px;
            margin: 0;
            color: orange;
        }

        p {
            font-size: 16px;
            color: orange;
        }
    </style>
</head>
<body>
    <div class="charger-container">
        <div class="charger">
            <img src="images/img1.jpg" alt="ChargerPoint Charger">
            <h3>ChargerPoint</h3>
            <p>Company: ChargerPoint</p>
            <p>Colour: White</p>
            <p>Price: $468</p>
            <p>Type: USB-C</p>
            <p>Voltage: 5</p>
            <p>Rating: 5</p>
        </div>

        <div class="charger">
            <img src="images/img2.jpg" alt="Blink Charging">
            <h3>Blink Charging</h3>
            <p>Company: Blink Charging</p>
            <p>Colour: Blue</p>
            <p>Price: $128</p>
            <p>Type: C - C</p>
            <p>Voltage: 3</p>
            <p>Rating: 7</p>
        </div>

        <div class="charger">
            <img src="images/img3.webp" alt="Tesla">
            <h3>Tesla</h3>
            <p>Company: Tesla</p>
            <p>Colour: White</p>
            <p>Price: $85</p>
            <p>Type: USB-C</p>
            <p>Voltage: 7</p>
            <p>Rating: 3</p>
        </div>

        <div class="charger">
            <img src="images/img4.webp" alt="Siemens AG">
            <h3>Siemens AG</h3>
            <p>Company: Siemens AG</p>
            <p>Colour: Black</p>
            <p>Price: $280</p>
            <p>Type: USB-C</p>
            <p>Voltage: 5</p>
            <p>Rating: 4</p>
        </div>

        <div class="charger">
            <img src="images/img5.jfif" alt="EVBox">
            <h3>EVBox</h3>
            <p>Company: EVBox</p>
            <p>Colour: White</p>
            <p>Price: $468</p>
            <p>Type: USB</p>
            <p>Voltage: 8</p>
            <p>Rating: 4</p>
        </div>

        <div class="charger">
            <img src="images/img6.jpg" alt="Electrify America">
            <h3>Electrify America</h3>
            <p>Company: Electrify America</p>
            <p>Colour: White</p>
            <p>Price: $377</p>
            <p>Type: Micro-USB</p>
            <p>Voltage: 9</p>
            <p>Rating: 5</p>
        </div>

        <div class="charger">
            <img src="images/img7.jpg" alt="ABB">
            <h3>ABB</h3>
            <p>Company: ABB</p>
            <p>Colour: Blue</p>
            <p>Price: $566</p>
            <p>Type: C - C</p>
            <p>Voltage: 7</p>
            <p>Rating: 7</p>
        </div>

        
        <div class="charger">
            <img src="images/img8.jfif" alt="EVgo">
            <h3>EVgo</h3>
            <p>Company: EVgo</p>
            <p>Colour: Black</p>
            <p>Price: $345</p>
            <p>Type: USB-C</p>
            <p>Voltage: 8</p>
            <p>Rating: 8</p>
        </div>

        <div class="charger">
            <img src="images/img9.jfif" alt="EVgo">
            <h3>EVgo</h3>
            <p>Company: EVgo</p>
            <p>Colour: Black</p>
            <p>Price: $345</p>
            <p>Type: USB-C</p>
            <p>Voltage: 8</p>
            <p>Rating: 8</p>
        </div>
        <div class="charger">
            <img src="images/img10.jpg" alt="EVgo">
            <h3>EVgo</h3>
            <p>Company: EVgo</p>
            <p>Colour: Black</p>
            <p>Price: $345</p>
            <p>Type: USB-C</p>
            <p>Voltage: 8</p>
            <p>Rating: 8</p>
        </div>
        </body>
</html>

